/* special media for buttons */
@media (max-width: 350px) { 
	.btn-1{padding: 10px 18px;}
    .btn-2{padding: 10px 18px;}
    .btn-3{padding: 9px 17px;} 
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
	
}

/* Medium devices (tablets, 768px and up)  */
@media (max-width: 767px) {
	
	h1{font-size: 40px; line-height: 40px;}
	h2{font-size: 33px; line-height: 33px;}
	h3{font-size: 25px; line-height: 26px;}
	h4{font-size: 22px; line-height: 24px;}
	h5{font-size: 18px; line-height: 20px;}
	h6{font-size: 14px; line-height: 17px;}
	
	.navbar{padding: 15px 0;}
	
	.navbar-collapse{background-color: #fff; margin-top: 10px;}
	
	.navbar .navbar-nav .nav-link{color: #333; text-align: center;}
	
	.welcome-area .welcome-text p,
	.welcome-slider p,
	.welcome-area-2 .welcome-text p,
	.carousel .carousel-item p,
	.welcome-slider-2 p,
	.page-area .page-text p,
	.welcome-particles .welcome-text p{
	margin: 0 10%;
	}
	
	.welcome-area.text-left .welcome-text p{
		margin: 0 15% 20px 0;
	}
	
	.carousel-control-next, .carousel-control-prev{
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	
	.image-back-right,
	.image-back-left,
	.image-back-center,
	.blog-area-2 .p-relative .p-absolute{
		position: relative; 
		top: 0; 
		left: 0; 
		height: 400px;
	}
	
	.text-box{padding: 80px 20px;}
	
	.testimonials .single-review p{
		line-height: 1.5em;
		margin: 0 10%;
	}
	
	.services-area-3 .border-bottom{display: none;}

	.services-area-3 .border-left{border-left: none !important;}
	
	
	
	.blog-content .post-details .first-comment img,
	.blog-content .post-details .second-comment img{width: 70px;}
	.blog-content .post-details .first-comment .the-comment,
	.blog-content .post-details .second-comment .the-comment{padding-left: 70px;}
	.blog-content .post-details .second-comment{margin-left: 30px;}
	
}

/* Large devices (desktops, 992px and up)  */
@media (max-width: 991px) {
	/**** navbar-center-logo ****/
	.navbar-center-logo .navbar-brand{
		position: relative;
		left: 0;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	
	.navbar-center-logo .navbar-collapse{background-color: #fff; margin-top: 10px;}
	
	.navbar-center-logo .navbar-nav .nav-link{color: #333; text-align: center;}
	
	.welcome-area.text-left .welcome-text p{
		margin: 0 25% 20px 0;
	}
	
	.carousel,
    .carousel-item{
		height: auto;
		max-height: 600px;
		min-height: 500px;
		overflow: hidden
	}
	
	.carousel-item img{
		width: auto;
		height: 100%;

	}
	
	
}

/* Extra large devices (large desktops, 1200px and up)  */
@media (max-width: 1200px) { 
}